<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-feature android:name="android.hardware.camera" android:required="true" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO" />



  <application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:name=".data.source.remote.MyApplication"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:requestLegacyExternalStorage="true"
   android:theme="@style/Theme.SulGameFrontendpractice1"
    tools:targetApi="31">
    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />
    </provider>
    <activity
      android:exported="false"
      android:name="info.sul_game.ui.search.SearchActivity" />
    <activity
      android:exported="false"
      android:name="info.sul_game.ConfirmationActivity" />
    <activity
      android:exported="false"
      android:name="info.sul_game.PermissionActivity"/>
    <activity
      android:exported="false"
      android:name="info.sul_game.SchoolActivity" />
    <activity
      android:exported="false"
      android:name="info.sul_game.BirthActivity" />
    <activity
      android:exported="false"
      android:name="info.sul_game.NicknameActivity" />
    <activity
      android:exported="false"
      android:name="info.sul_game.LoginActivity" />
    <activity
      android:exported="true"
      android:name="info.sul_game.ui.create.Create">
<!--      <intent-filter>-->
<!--        <action android:name="android.intent.action.MAIN" />-->
<!--        <category android:name="android.intent.category.LAUNCHER" />-->
<!--      </intent-filter>-->
    </activity>

    <activity
      android:exported="false"
      android:name="info.sul_game.ui.official.OfficialCreate" />


    <activity
      android:exported="false"
      android:name="info.sul_game.StartActivity" />
    <activity
      android:exported="false"
      android:name="info.sul_game.ui.detail.OfficialDetail" />
    <activity
      android:exported="false"
      android:name="info.sul_game.ui.detail.CreateDetail" />
    <activity
      android:exported="true"
      android:name="info.sul_game.ui.main.MainActivity" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
